<div class="container">
  <div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
      <label>Genres </label>
      <select class="form-control form-control-lg" id="idGen" name="idGen" [(ngModel)]="IdGenre" (change)="onChange()">
        @for(gen of genres; track gen.idG)
        {
        <option value="{{gen.idG}}">{{gen.nomG}}</option>
        }
      </select>
    </div>

    <div class="card shadow mb-4">                   
      <div class="card-body"> 
        <table class="table table-striped">
          <tr>
            <th>Id</th>
            <th>Titre</th> 
            <th>Durée</th>  
            <th>Date Sortie</th> 
            <th>Genre</th>
          </tr>          
          @for (film of films; track film.idFilm)
          {
            <tbody>
              <tr>
                <td>{{film.idFilm}}</td>
                <td>{{film.nomFilm}}</td>
                <td>{{film.duree}}</td>
                <td>{{film.dateSortie | date:'dd/MM/yyyy'}}</td>

                @if(film.genre) { 
                  <td>{{film.genre.nomG}}</td>  
                }
                @else {
                  <td>PAS DE GENRE</td>
                }

                <!-- <td><a class="btn btn-danger" (click)="supprimerFilm(film)">Supprimer</a></td> 
                <td><a class="btn btn-success" [routerLink]="['/updateFilm',film.idFilm]">Modifier</a></td> -->
              </tr>                                    
            </tbody>
          }   
        </table>
      </div>
    </div>
  </div>
</div>