<div class="container"> 
     <div> 
       <h2>Modifier un Film :</h2>              
     </div> 
          <form >          
              <div  class="col-sm-2 col-md-2 col-lg-2"> 
                <label >ID  Film</label> 
                <input  readonly  type="text"  [(ngModel)]="currentFilm.idFilm" 
  
                    name="idFilm" class="form-control"> 
               </div>
                  <div class="col-sm-4 col-md-4 col-lg-4" > 
                <label >Nom Film</label> 
                <input  type="text"[(ngModel)]= "currentFilm.nomFilm"   
                    name="nomFilm" class="form-control"> 
              </div> 
 
              <div class="col-sm-2 col-md-2 col-lg-2"> 
                <label >Durée</label> 
            <input type="number"   [(ngModel)]= "currentFilm.duree" 
  
                    name="duree" class="form-control"> 
              </div> 
 
              <div class="col-sm-4 col-md-4 col-lg-4"> 
                  <label >Date sortie</label> 
     <input  type="date"  [ngModel]="currentFilm.dateSortie | date: 'yyyy-MM-dd'"  
     (ngModelChange)=" currentFilm.dateSortie= $event"   name="dateSortie"  
     class="form-control"> 
              </div> 
              <div class="col-sm-4 col-md-4 col-lg-4">
              <label>Genre</label>
              <select class="form-control form-control-lg" id="idG" name="idG" [(ngModel)]="updatedGId">
                @for(gen of genres; track gen.idG)
                {
                  <option  [value]="gen.idG">  {{gen.nomG}} </option>
                 }
                </select>                 
             </div>
               
               <div class="mt-2"> 
<button type="submit"  (click)="updateFilm()" class="btn btn-success">Modifer</button> 
               </div>   
          </form> 
</div>   